* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100vw;
	background-color: black;
	text-align: center;
	border: solid black;
}

header,
nav,
main,
aside {
	background: black;
	display: flex;
	flex: 1 1 100vw;
}

header {
	height: 100px;
}

header #logo {
	display: flex;
	flex: 0 1 200px;
	justify-content: center;
	align-items: center;
}

#lg {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#openMenu,
#closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
	color: white;
}

nav {
	justify-content: center;
	align-items: center;
	height: 100px;
	margin: 3%;
	font-size: 15pt;
}

.sobre {
	padding: 1%;
	color: white;
	background-color: black;
	border: double rgb(88, 82, 82);
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}

.title {
	text-align: center;
	color: white;
	background-color: black;
	margin-top: 4%;
	margin-bottom: 2%;
}

#img1 {
	background-image: url(/assets/img/l&r.png);
}

#img2 {
	background-image: url(/assets/img/akira.png);
}

#img3 {
	background-image: url(/assets/img/frost.png);
}

#img1,
#img2,
#img3 {
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	flex-wrap: wrap;
	justify-content: center;
}

.calc1,
.calc2,
.calc3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 30%;
	margin-bottom: 4%;
	height: 600px;
	padding: 2%;
	color: rgb(245, 241, 241);
	font-size: 1.2rem;
	border-color: red;
	border-style: solid;
	border-width: 4px;
}

.calc1 {
	background-color: purple;
	border-color: rgba(233, 85, 233, 0.842);
}

.calc2 {
	background-color: red;
	border-color: rgb(145, 10, 10);
}

.calc3 {
	background-color: blue;
	border-color: rgb(52, 130, 231);
	height: 400px;
	text-align: center;
	margin-bottom: 1px;
}

input {
	width: 70px;
	height: 20px;
}

aside {
	height: 110px;
}

.car {
	display: flex;
	align-self: center;
	justify-self: center;
	height: 100px;
	width: 620px;
	margin: auto;
}

footer {
	display: flex;
	width: 100%;
	background-color: black;
	font-size: 0.7rem;
	flex-direction: column;
	justify-content: space-evenly;
	height: 150px;
	text-align: center;
	color: white;
}

#contato {
	font-size: 1.1rem;
}

.btns {
	height: 25%;
}

.btn {
	border-radius: 50%;
}

#Copyright {
	margin: 0;
	padding: 0;
	font-size: 0.7rem;
}

a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (min-width: 626px) {
	body {
		background-color: black;
	}

	main {
		padding: auto;
		flex-direction: column;
		justify-content: center;
	}

	nav{
		margin: 0;
		background-color: gray;
		justify-content: space-evenly;
		color: white;
	}
    nav a{
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: white;
	}

	.sobre {
		border: none;
		width: 80%;
		margin: auto;
	}

	p {
		border: double rgb(88, 82, 82);
	}

	.title {
		margin: auto;
	}

	.calc1 {
		height: 670px;
	}

	.calc1,
	.calc2,
	.calc3,
	p {
		width: 40%;
		font-size: 0.8rem;
		margin-bottom: 15%;
		margin: auto;
	}

	.car {
		height: 150px;
	}

	#img1,
	#img2,
	#img3 {
		height: 150px;
	}

	footer {
		height: 200px;
		justify-content: flex-end;
	}

}

@media only screen and (max-width: 625px) {

	#openMenu,
	#closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		background: rgba(59, 53, 53, 0.8);
		justify-content: center;
		align-items: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}
	nav a{
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: white;
	}

	header {
		position: sticky;
		top: 0px;
	}

	.calc1,
	.calc2,
	.calc3 {
		width: 100%;
		font-size: 0.8rem;
	}

	input {
		width: 45px;
		height: 20px;
	}

	.car {
		width: 315px;
	}

}