*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    margin: 5%;
    color: red;
    border-radius: 20%;
    padding: 2%;
}
body{
    height: 100%;
    padding: 4%;
    background-color: black;
    color: white;
    border-style: double;
}
h3{
margin: 2%;
}
p{
margin: 2%;
}
@media only screen and (min-width: 626px){
    main{
        width: 50%;
    }
}